*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "be vietnam";
    overflow: hidden;

}
html{
    font-size: 10px;
    background-color: #35d509;
    color: rgb(46, 42, 42);
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 100px;

}
nav img{
    margin-left: 100px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: 250px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: rgb(24, 17, 17);
    margin-left: 70px;

}
nav ul li a :hover{
    opacity: 0.6;
}
.header-main{
    display: grid;
    align-items: center;
    grid-template-columns: 400px 1fr;
    margin-left: 100px;
}
.header-main-content-h1{
    font-size: 63px;
}
.header-main-content-p{
    font-size: 16px;
    margin-top: 10px;
    width: 80%;
}
.header-main-content button{
    font-size: 25px;
    padding:14px 65px;
    border: none;
    color: rgb(24, 16, 16);
    cursor: pointer;
    border-radius: 15px;
    margin-top: 50px;
    background-color: #9bd851;

}
.btn:hover{
    opacity: .6;
}
.header-main-img img{
    margin-left: -50px;
    margin-top: -30px;
    width: 700px;
    height: 700px;



}
.social-media{
    padding-left: 30px;
    padding-bottom: 50px;


}
.social-media img{
    margin-left: 80px;
   
  
    width: 40px;
    height: 40px;
    padding-top: 8px;
    padding-left: 7px;
    cursor: pointer;
}
.sicial-media img:hover{
    opacity: .6;
   
}
.content{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

